@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-primary text-primary;
  }
  body {
    font-family: "Noto Sans TC", sans-serif;
    @apply tracking-widest;
  }
  .section-div {
    @apply border border-secondary rounded-md shadow-md bg-primary px-4 max-w-7xl w-full mx-auto mb-6;
  }

  .dark {
    --color-bg-primary: #2f3640;
    --color-bg-secondary: #353b48;
    --color-text-primary: #f3f3f3;
    --color-text-secondary: #e3ecf8;
    --color-text-accent: #47c963;
    --color-bg-input: #2f3640;
    --color-bg-button: #47c963;
  }

  .light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #404153;
    --color-text-secondary: #4b4d6c;
    --color-text-accent: #0d7478;
    --color-bg-input: #088286;
    --color-bg-button: #0d7478;
  }
  .filled-button {
    @apply bg-button text-btnText px-5 py-2 rounded-md;
  }
}
